*{
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
}
.header{
    background-color: #1f2937;
    padding: 10px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.navbar > .header-logo{
    justify-content: flex-start;
    font-size: 24px;
    color: #f9faf8;
}

.links,
.secondary{
    font-size: 14px;
    color: #e5e7eb;
    padding: 15px;
}

.info{
    display: flex;
    justify-content: space-evenly;
}

.primary{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.button{
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color:#3882f6;
    padding:  5px 17px;
}

.image > img{
    height: 200px;
}

.images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.images img{
    height: 250px;
    border : 2px solid #3882f6;
    margin: 5px;
    border-radius: 20px;
}

.random-info > p{
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
}
.images p{
    text-align: center;
}

.footer-1{
    background-color: #e5e7eb;
    padding: 100px 400px;
}

.footer-1 .quote{
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color:#1f2937;
}

.footer-1 .quote-by{
    font-weight: bold;
    text-align: right;
}

.footer-2{
    padding: 100px 200px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.footer-2 >.sign-up{
    background-color:#3882f6;
    width: 1000px;
    height: 100px;
    padding: 50px 100px;
    border-radius: 15px;
}

.button-2{
    border-color: white;
    color: white;
    padding: 5px 10px;
    background-color: #3882f6;
    border-radius: 5px;
    border-width: 1px;
    font-weight: bold;
}

.footer-3{
    background-color: #1f2937;
    text-align: center;
    padding-top: 25px ;
    padding-bottom: 25px;
    color: #e5e7eb;
}


